<div class="menu_container">
    <div class="menu_title">
        <p>Quản lý trung tâm </p>
    </div>
    <div class="menu_item">
        <div class="row item">
            @Html.ActionLink("Ghi danh", "GhiDanh", "GhiDanh")
        </div>
        <div class="row item">
            @Html.ActionLink("Học viên", "HocVien", "HocVien")
        </div>
        <div class="row item">
            @Html.ActionLink("Giảng viên", "GiangVien", "GiangVien")
        </div>
        <div class="row item">
            @Html.ActionLink("Lớp học", "LopHoc", "LopHoc")
        </div>
        <div class="row item">
            @Html.ActionLink("Khóa học", "KhoaHoc", "KhoaHoc")
        </div>
        <div class="row item">
            @Html.ActionLink("Báo cáo học viên", "BaoCaoHocVien", "BaoCaoHocVien")
        </div>
    </div>
</div>