@model List<MVC_Core_Quan_Ly_Trung_Tam_TA.DataBase.DGiangVien>
<div class="container">
    <div class="row list_container">
        <div class="title col-12">Danh sách Giảng Viên </div>
        <button onclick="location.href='@Url.Action("ThemGiangVien", "GiangVien")'">
            Thêm
        </button>

        <div>Tìm theo mã giảng viên :  </div>
        <div class="data_grid col-12">
            <table>
                <tr>
                    <th>Mã GV</th>
                    <th>Tên GV</th>
                    <th>Sđt</th>
                    <th>Địa chỉ</th>
                    <th>Trình độ</th>
                    <th>Mã LH</th>
                </tr>
                @{
                    if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaGv</td>
                                <td>@item.TenGv</td>
                                <td>@item.Sdt</td>
                                <td>@item.Diachi</td>
                                <td>@item.Trinhdo</td>
                                <td>@item.MaLh</td>

                            </tr>
                        }
                    }

                }
            </table>
        </div>

    </div>
</div>
